
/* tag selectors */

body {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
}

h1 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 900;
  font-size: 3.5rem;
  line-height: 1.5;
  width: 120%;
}

/* id selectors */

#title {
  background-color: #ff4c68;
  color: #fff;

}

/* class selectors */

.container-fluid {
  padding: 3% 15%;
}

.navbar-brand {
  font-family: 'Ubuntu', sans-serif;
  font-size: 2.5rem;
  font-weight: 700;
}

.navbar {
  padding: 0 0 4.5rem;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-size: 1.2rem;
  font-weight: 300;
}

/* Download button  */

.download-button {
  margin: 5% 3% 5% 0;
}

/* title-image */

.title-image {
    transform: rotate(25deg);
    width: 60%;
    margin-left: 20%;
}

/* Features Section*/

#features {
  margin-top: 70px;
}

.padding-features {
  padding: 35px 35px 35px 35px;
  text-align: center;
}

.icon {
  font-size: 3em;
  padding-bottom: 10px;
  color: #ef8172
}

.icon:hover {
  color: #ff4c68
}

.feature-title {
  text-align:center;
  font-size: 1.3rem;
  font-weight: 700;
}


.feature-text {
  text-align: center;
  color: #8f8f8f;
}
